<div class="private-square span6 offset2 text-center">
  <h1>
  
  My awesome App is here!
    
  </h1>
  
  <br/>
  <%= link_to 'Launch', posts_path, :class => 'btn btn-success btn-large'  %>
  
</div>

