<div class="private-square span6 offset2 text-center">

  
  <h1>
    Share your life. Faster. Smoother. Better.
    
    <h1>
    
    
      
   <h2>
  
  Upload and look at pictures with no need for an account
    
  </h2>
  
  <br/>
  <%= link_to 'Start Scrolling', posts_path, :class => 'btn btn-success btn-large'  %>
  
</div>

